

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet">
</head>
<body data-gr-c-s-loaded="true">
<div style="width:603.34px;height:302.36px;/*! padding:5px; *//* text-align:center; */border: 0.5px solid #787878;margin-top: 11px;">
    <div style="
            padding-top: 2px;
            height: 75px;
            padding-left: 1px;
            width: 604px;
            background-image:url('./smallvector.png') !important;
            background-size: contain;
            background-repeat: no-repeat;
            margin-left: -1px;
            ">
        <div>
            <div>
                <div style="
                     height: 72px;
                     width: 72px;
                     margin-top: 38px;
                     position: absolute;
                     margin-left: 60px;
                     background-color: white;
                     border-radius: 36px;
                     overflow: hidden;
                     justify-content: center;
                     align-items: center;
                     "><img alt="No photo" style="
                     height: 70px;
                     width: 70px;
                     border-radius:  33px 32.5px 32.5px 32.5px;
                     margin-left: auto;
                     margin-right: auto;
                     " src="$profilePic"></div>
                <div style="
                     height: 51px;
                     width: 51px;
                     /* overflow: hidden; */
                     position: absolute;
                     left: 70px;
                     top: 140px;
                     background: #fa766b;
                     border-radius: 5px;
                     padding: 1px;
                     padding-bottom: 0px;
                     ">
                    <div style="
                        border-radius: 5px;
                        overflow: hidden;
                        background:white;
                        "><img src="$qrcodepath" alt="Smiley face" style="
                        /*! top:0; */
                        width: 50px;
                        height: 50px;
                        /* left: 60px; */
                        /*! bottom: 91px; */
                        "> </div>
                </div>
            </div>
            <div style="
                  margin-left: 162px;
                  margin-bottom: 5px;
                  padding-top: 25px;
                  margin-bottom: 10px;
                  letter-spacing: 1px;
                  margin-top: 22px;
                  color:white;
                  font-family: 'Roboto Slab', serif;
                  font-size: 12px;
                  font-weight: bold;
                  ">
                <span>Attestation of Participation</span>
            </div>
        </div>
    </div>
    <table style="margin-left: 159px;margin-top: 10px;line-height: 12px;font-family: 'Roboto Slab', serif;font-size: 11px;" cellspacing="5">
        <tbody style="
               font-weight: 500;
               font-style: normal;
               line-height: 12px;
               ">
        <tr>
            <td style="/*! position: absolute; *//*! left: 23.81%; *//*! right: 67.59%; *//*! top: 30.43%; *//*! bottom: 64.28%; */
                     line-height: 12px;
                     color: #b9524a;
                     text-align: left;
                     " align="right">Entity Name</td>
            <td style="padding-left:10px;/* color: #000000; */" align="left"><div style="word-wrap:break-word;width: 200px;">$entityName</div></td>
        </tr>
        <tr>
            <td style="/*! position: absolute; *//*! left: 23.81%; *//*! right: 67.59%; *//*! top: 30.43%; *//*! bottom: 64.28%; */
                     line-height: 12px;
                     color: #b9524a;
                     text-align: left;
                     " align="right">Program</td>
            <td style="padding-left:10px;/* color: #000000; */" align="left"><div style="word-wrap:break-word;width: 200px;">$courseName</div></td>
        </tr>
        <tr>
            <td style="/*! position:absolute; */color: #b9524a;/*! padding-left:10px; */text-align: left;" align="right">Session</td>
            <td style="/* font-size:10px; */padding-left:10px;" align="left"><div style="word-wrap:break-word;width: 200px;">$sessionName</div></td>
        </tr>
        <tr>
            <td style="/*! position:absolute; */color: #b9524a;/*! padding-left:10px; */text-align: left;" align="right">Issue Date</td>
            <td style="padding-left:10px;" align="left"> $dt</td>
        </tr>
        <tr>
            <td style="/*! position:absolute; */color: #b9524a;/*! padding-left:10px; */text-align: left;" align="right">Participant Name</td>
            <td style="padding-left:10px;" align="left">$studentName</td>
        </tr>
        <tr>
            <td style="/*! position:absolute; */color: #b9524a;/*! padding-left:10px; */text-align: left;" align="right">Role</td>
            <td style="padding-left:10px;" align="left">$role</td>
        </tr>
        <tr>
            <td style="/*! position:absolute; */color: #b9524a;/*! padding-left:10px; */text-align: left;" align="right">No. of Participants</td>
            <td style="padding-left:10px;" align="left">$noOfParticipants</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>

