<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap" rel="stylesheet">
</head>
<body data-gr-c-s-loaded="true">
<div style="position:absolute; top:20px; left:225px">
    <div style="width:243.78px;height:153.07px;background:url({BACK DESIGN PATH});background-size: contain;
         background-repeat: no-repeat;">
        <p style="
            position: absolute;
            top: 98px;
            font-size: 6px;
            line-height: 7px;
            font-weight: normal;
            font-style: normal;
            font-family: Roboto;
            color: white;
            opacity: 0.6;
            left: 16.23px;
            ">If found, please return.</p>
        <p style="
            position: absolute;
            top: 110.03px;
            font-size: 6px;
            line-height: 7px;
            font-weight: bold;
            font-style: normal;
            font-family: Roboto;
            color: white;
            opacity: 0.6;
            left: 16px;
            ">abc@gmail.com</p>
        <div style="
            position: absolute;
            top: 128.87px;
            ">
            <img src="{WAVES DESIGN}" alt="" "="">
        </div>
    </div>
</div>
</body>
</html>